input {
    padding-left: 1.4rem;
    margin-left: 5rem;
    height: 4.6rem;
    width: 30rem;
    background-color: #ccc;
    font-size: 1.8rem;
}

input::placeholder {
    color: #000;
    font-weight: 500;
}